body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4 {
  color: #801001;
}

.btn-primary,
.btn-outline-primary {
  background-color: #801001;
  color: white;
  border: 2px solid #801001; /* Default border color */
}

.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: #a61502;
  color: white;
  border: 2px solid #a61502;
}

.custom-btn {
  background-color: #801001 !important; /* Change to your desired color */
  color: white !important; /* Ensure the text is visible */
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

.custom-btn:hover {
  background-color: #a61502 !important; /* Slightly darker shade on hover */
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: #801001;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

.img-large {
  max-width: 80%;
}

.img-thumbnail {
  height: 100px;
}

.small-container {
  max-width: 600px;
}

.logo-container {
  position: absolute;
  top: -20px; /* Adjust this to move logo higher or lower */
}

.custom-navbar {
  position: relative;
}

.checkout-steps > div {
  border-bottom: 0.7rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.7rem solid #801001;
  color: #000000;
}

.text-bold {
  font-weight: bold;
}

#admin-nav-dropdown::after {
  border-top-color: rgb(0, 0, 0) !important; /* White arrow for admin */
}

#collasible-nav-dropdown::after {
  border-top-color: rgb(0, 0, 0) !important; /* White arrow for user */
}

.hover-highlight:hover {
  transform: translateY(-2px);
  transition: transform 0.2s ease-in-out;
  background-color: #f8f9fa;
  cursor: pointer;
}

.table-dark th {
  letter-spacing: 0.5px;
  font-weight: 600;
}

.rounded-pill {
  transition: all 0.2s ease;
}

.table-responsive {
  border-radius: 0.5rem;
  overflow: hidden;
}

@media (max-width: 768px) {
  .table-responsive {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  th,
  td {
    padding: 8px;
    font-size: 14px; /* Reduce font size for better visibility */
  }

  .btn {
    padding: 5px 10px;
    font-size: 12px;
  }
}
